

body
{
	background-image:url(../images/betterBackground1.jpeg);
	 /* background-size:     cover; */                     /* This and the next line are added code to make the image not repeat */
    /*background-repeat:   no-repeat;*/
    background-size: auto;
	/*background-color: black;*/ /*I want this to be a cool image*/ 
	color: #555;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16;
	line-height: 1.6em;
	margin: 0;
}

#rightPic
{
	float: right;
	padding-top: none;
}

.container
{
	margin: auto;
	overflow: hidden;
}

.container h2
{
	float: left;
}

#mainHeader
{
	background-color: coral;
	color: white;
}

#icons ul
{
	padding: 0;
	list-style: none;
}

#icons li
{
	display:inline; 
	padding-right: 13%;
}

#icons a
{
	text-decoration: none;
	font-size: 18px
	padding-right 15px;
}

#navbar
{
	background-color: mediumpurple;
	color: white;
}

#navbar ul
{
	padding: 0;
	list-style: none;
}

#navbar li
{
	display: inline; /*this is cool it displays the list items on the same line*/

}

#navbar a
{
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px; /*this will separate them when the list items are displayed net to eachother so that they are not so close together PRO COMMMENT */ 
}

/*#showcase
{
	background-image:url(../images/showcase.jpeg);
	background-position: center right;
	min-height: 300px; /* we use min-height rather than "height" because we want the text and image to grow in height as the width of the page decreases 
	margin-bottom: 30px; /*everything under the showcase will be pushed down 30px */ /*
}

#showcase h1
{
	color: #fff;
	font-size: 50px;
	line-height: 1.6em;
	padding-top: 30px;
}*/

.mainheader, .subheader{
	text-align:center; 
	font-size: 5vw; 
	color: mediumpurple; 
	padding-top: 3vw; 
	padding-bottom: 2vw; 
}

.cat {
	position: relative;
	width: 100%;
	max-width: 20em;
	overflow: hidden;
	background-color: #e6dcdc;
  }
  .cat::before {
	content: '';
	display: block;
	padding-bottom: 100%;
  }
  .cat:hover > * {
	-webkit-animation-play-state: paused;
			animation-play-state: paused;
  }
  .cat:active > * {
	-webkit-animation-play-state: running;
			animation-play-state: running;
  }
  
  .cat__head, .cat__tail, .cat__body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-animation: rotating 2.79s cubic-bezier(0.65, 0.54, 0.12, 0.93) infinite;
			animation: rotating 2.79s cubic-bezier(0.65, 0.54, 0.12, 0.93) infinite;
  }
  .cat__head::before, .cat__tail::before, .cat__body::before {
	content: '';
	position: absolute;
	width: 50%;
	height: 50%; 
	background-size: 200%;
	background-repeat: no-repeat;
	background-image: url("https://images.weserv.nl/?url=i.imgur.com/M1raXX3.png&il");
  }
  
  .cat__head::before {
	top: 0;
	right: 0;
	background-position: 100% 0%;
	-webkit-transform-origin: 0% 100%;
			transform-origin: 0% 100%;
	-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
  }
  
  .cat__tail {
	-webkit-animation-delay: .2s;
			animation-delay: .2s;
  }
  .cat__tail::before {
	left: 0;
	bottom: 0;
	background-position: 0% 100%;
	-webkit-transform-origin: 100% 0%;
			transform-origin: 100% 0%;
	-webkit-transform: rotate(-30deg);
			transform: rotate(-30deg);
  }
  
  .cat__body {
	-webkit-animation-delay: .1s;
			animation-delay: .1s;
  }
  .cat__body:nth-of-type(2) {
	-webkit-animation-delay: .2s;
			animation-delay: .2s;
  }
  .cat__body::before {
	right: 0;
	bottom: 0;
	background-position: 100% 100%;
	-webkit-transform-origin: 0% 0%;
			transform-origin: 0% 0%;
  }
  
  @-webkit-keyframes rotating {
	from {
	  -webkit-transform: rotate(720deg);
			  transform: rotate(720deg);
	}
	to {
	  -webkit-transform: none;
			  transform: none;
	}
  }
  
  @keyframes rotating {
	from {
	  -webkit-transform: rotate(720deg);
			  transform: rotate(720deg);
	}
	to {
	  -webkit-transform: none;
			  transform: none;
	}
  }
  .box {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	justify-content: center;
	align-items: center;
	background-color: #e6dcdc;
  }
  
  *,
  *::before,
  *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }



.subheader{
	font-size: 3vw; 
}

.text{
	padding-left: 1vw; 
	padding-right: 1vw;
	font-size: 2vw; 
	line-height: 2.4vw; 

}

#main
{

	padding: 0 1%;
	background-color: #f4f4f4;
	/*padding: 0 30px; */
	/*box-sizing: border-box;*/

}

#sidebar
{
	float: right;
	width: 30%;
	background: #333;
	color: white;
	padding: 10px;
	box-sizing: border-box;
}

#mainFooter 
{
	background: mediumpurple;
	color: white;
	text-align: center;
	padding: 20px;
	/*margin-top: 40px;*/
}

/*anything in here must be under 600 px*/ 

@media(max-width: 600px) 
{
	#main
	{
		width: 100%; /* makes it so that shit goes on top of eachother if the width is super restricted */ 
		float: none; 
	}
}

